<?xml version="1.0"?>
<ruleset name="accessor-generator Coding Standard">
    <description>Accessor-generator coding standard extending the Hostnet standard by excluding the fixtures folders
    </description>
    <exclude-pattern>*/fixtures/*</exclude-pattern>
    <rule ref="Hostnet"/>
</ruleset>
